<!-- read_book.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>

</head>
<body>
    <a href="{{ book.pdf.url }}" download="{{ book.title }}.pdf">Download PDF</a>
    <embed src="{{ book.pdf.url }}" type="application/pdf" width="100%" height="600px" />

    
</body>
</html>
