<!-- templates/home.html -->
<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    
</head>
<body>
    
    
    {% block content %}
        <h1>Homepage</h1>
        <img class="bookcover" src="{% static 'images/dfp_cover_31.png' %}" alt="django cover">
        {% if user.is_authenticated %}
            Hi {{ user.email }}
            <br>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit"> <div>Log out</div></button>
            </form>
            
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'account_login' %}">Log In</a> |
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    {% endblock content %}
</body>
</html>